:root {
  --background-color: #25202b;
  --foreground-color: #daccff;
}

html {
  font-size: 32px;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: "Play", sans-serif;
  font-style: normal;
  text-align: center;
}

#cabinet {
  width: 900px;
  height: 2637px;
  margin: auto;
  background-image: url("images/cabinet-quest.png");
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
}

#cabinet-top {
  height: 17%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-bottom: 1%;
}
#cabinet-screen {
  box-sizing: border-box;
  padding-top: 3%;
  height: 24%;
}
#cabinet-controls-top {
  height: 6%;
}
#cabinet-controls-bottom {
  height: 9%;
  padding-bottom: 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cabinet-bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#game {
  border: 6px solid var(--foreground-color);
  border-radius: 24px;
}

#time-rewards-explanation {
  margin: auto;
  display: flex;
  gap: 1rem;
  max-width: 1000px;
  justify-content: center;
  div {
    text-align: left;
  }
}

.rewards-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.reward {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  border: 6px solid var(--foreground-color);
  box-shadow: 8px 8px var(--foreground-color);
  border-radius: 24px;
  img {
    width: 100%;
  }
  h2 {
    margin: 0;
  }
  ul {
    text-align: left;
  }
}

.time-reward {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  img {
    width: 3rem;
  }
}

.hours {
  font-size: 2rem;
  text-align: center;
}

.money {
  background-color: var(--foreground-color);
  color: var(--background-color);
  border-radius: 24px;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  font-size: 3rem;
}

.link-button-container {
  display: flex;
  justify-content: center;
  margin-top: 0.25rem;
  margin-bottom: 1.25rem;
  gap: 1.25rem;
  height: 3rem;
}

.link-button {
  border: 6px solid var(--foreground-color);
  border-radius: 24px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0 0.7rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.hover-shadow {
  position: relative;
  left: 0;
  top: 0;
  box-shadow: 0 0 var(--foreground-color);
  transition:
    box-shadow 0.15s ease-in-out,
    left 0.15s ease-in-out,
    top 0.15s ease-in-out;
}

.hover-shadow:hover {
  left: -4px;
  top: -4px;
  box-shadow: 8px 8px var(--foreground-color);
}

a {
  color: var(--foreground-color);
}

@media (max-width: 1350px) {
  .rewards-container {
    flex-direction: column;
    align-items: center;
  }
  .reward {
    max-width: 750px;
  }
  .time-reward {
    max-width: 450px;
  }
}
